doctype html
html
    head
        meta(charset="UTF-8")
        link(rel='stylesheet' href='./css/Userstyle.css')
        script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js')
        script(type='text/javascript' src='./js/validator.js')
        script(type='text/javascript' src='./js/signup.js')
        title 注册
    body
        h1 用户注册
        form(method = 'post')
            if error
                div.error!= error
            
            div.username
                label(for='username') 用户名 
                input(id='username' name='username' value=user.username placeholder='please input your username')
                span.error

            div.sid
                label(for='sid') 学号
                input(id='sid' name='sid' value=user.sid placeholder='please input your studentID')
                span.error

            div.phone
                label(for='phone') 电话
                input(id='phone' name='phone' value=user.phone placeholder='please input your phone number')
                span.error

            div.email
                label(for='email') 邮箱
                input(id='email' name='email' value=user.email placeholder='please input your email address')
                span.error

            div.buttons
                input.button.reset(id="reset" type="reset",value="重置")
                input.button.reset(id="submit" type="submit",value="提交")
                
