doctype html 
html
    head
        meta(charset="UTF-8")
        link(rel='stylesheet' href='./css/Detailstyle.css')
        title 详情
    body
        fieldset
            legend 用户详情
            div.username 用户名
                span #{" "}
                span #{username}
        
            div.sid 学号
                span #{" "}
                span #{sid}
        
            div.phone 电话
                span #{" "}
                span #{phone}
        
            div.email 邮箱
                span #{" "}
                span #{email}